{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/chatroom.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">

    <div class="position-absolute top-50 start-50 translate-middle border border-info rounded col-lg-6 col-md-10 col-sm-12"
         style="height: 80%;">
        <div style="height: 10%;" class="border d-flex align-items-center justify-content-between">
            <h5 class="mx-3">Dr. Satheesh</h5>
            <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm mx-3">Close chat</a>
        </div>

        <div style="height: 80%; overflow: auto;" class="border" id="msg-box">

            {% for message in messages %}
            {% if message.username == request.user.username %}
            <div class="chat-message-right pb-4 mx-3" id="mesgs">
                <div class="mx-2">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" width="30"
                         height="30">
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                    <div class="font-weight-bold mb-1 text-success">You</div>
                    {{ message.content }}
                </div>
            </div>
            {% else %}
            <div class="chat-message-left pb-4 mx-3" id="mesgs">
                <div class="mx-2">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" width="30"
                         height="30">
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                    <div class="font-weight-bold mb-1 text-success">{{ message.username }}</div>
                    {{ message.content }}
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>

        <form style="height: 10%;" class="border d-flex justify-content-around align-items-center" id="submit">
            <input type="text" id="input" class="rounded border-info px-3 py-1" style="width: 80%;" autofocus>
            <input type="submit" value="Send" class="btn btn-secondary btn-sm px-4">
        </form>
    </div>
</div>


{{ room_name|json_script:"room-name" }}
{{ request.user.username|json_script:"user_username" }}
<!-- Optional JavaScript -->
{% block script %}
<script src="{% static 'js/chatroom.js' %}"></script>
{% endblock %}

{% endblock %}